{% extends 'base_login.html.twig' %}

{% block body %}
    <div class="form-side">

        <div class="form-content" style="width: 700px">
            <div class="soft-logo">
                <img id="libriciel-logo" alt="Image du Libriciel"
                     height="10" width="10"
                     src="{{ asset('assets/img/application_logo.svg') }}">
                <p class="d-flex justify-content-center">Développons ensemble vos projets de demain</p>
            </div>


            <section>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-3"><i class="fa fa-check"></i> {{ message }}</div>

                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger mt-3"><i class="fa fa-exclamation-triangle"></i> {{ message |nl2br }}
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-3 mt-5">
                        <div class="text-center mt-5">
                            <a href="/idelibre_client/" class="btn btn-primary btn-lg"> Accès aux séances</a>
                        </div>
                    </div>

                    <div class="col-1 mt-5" style="border-right: 2px solid var(--bs-ls-grey-200);">
                    </div>
                    <div class="col-8">
                        <h1 class="page-title">Veuillez saisir vos identifiants de connexion </h1>
                        <form method="post">
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">


                            <div class="form-group row d-flex">
                                <label for="staticEmail" class="col-sm-3 col-form-label" >Identifiant</label>
                                <div class="col-sm-9">

                                    <div class="input-group mb-2">
                                        <div class="input-group-text login-icon"><span class="fa fa-user"></span></div>
                                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                               class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label" >Mot de passe</label>
                                <div class="col-sm-9">

                                    <div class="input-group mb-2" id="show_hide_password">
                                        <div class="input-group-text login-icon"><span class="fa fa-lock"></span></div>
                                        <span id="showPassword" class="fas fa-eye-slash eye-password"></span>

                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                               placeholder="Mot de passe" required>
                                    </div>

                                </div>
                            </div>


                            <div class="float-end">
                                <a href="{{ path('app_forget') }}" class="btn btn-link forgot-passwd-lnk">
                                    Mot de passe oublié ?
                                </a>

                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-sign-in fa-sign-in-alt fa-fw"></i>
                                    Se connecter
                                </button>
                            </div>
                        </form>


                    </div>
                </div>


            </section>


        </div>
    </div>

{% endblock %}



