{% extends 'base_login.html.twig' %}

{% block body %}
    <div class="form-side">
        <div class="form-content">
            <div class="soft-logo">
                <img id="libriciel-logo" alt="Image du Libriciel"
                     height="10" width="10"
                     src="{{ asset('assets/img/application_logo.svg') }}">
                <p class="d-flex justify-content-center">Développons ensemble vos projets de demain</p>
            </div>

            <section>
                <h1 class="page-title">
                    Renseigner votre nouveau mot de passe
                </h1>

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary float-end">Enregistrer</button>
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('showPasswordEntropy') }}
{% endblock %}
