{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Ajout d\'un Type de séance' %}


{% block pageActions %}
    {{ macro.backButton('type_index') }}
{% endblock %}


{% block pageForm %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <div class="form-group">
        {{ form_label(form.associatedActors) }}
        {{ form_errors(form.associatedActors) }}

        <div class="row">
            <div class="col-9">
                {{ form_widget(form.associatedActors) }}
            </div>
            <div class="col-3">
                <button type="button" id="selectAll" class="btn btn-primary">Tout sélectionner</button>
            </div>
        </div>

    </div>
    <div class="form-group">
        {{ form_label(form.associatedEmployees) }}
        {{ form_errors(form.associatedEmployees) }}

        <div class="row">
            <div class="col-9">
                {{ form_widget(form.associatedEmployees) }}
            </div>
            <div class="col-3">
                <button type="button" id="selectAllEmployees" class="btn btn-primary">Tout sélectionner</button>
            </div>
        </div>

    </div>
    <div class="form-group">

        {{ form_label(form.associatedGuests) }}
        {{ form_errors(form.associatedGuests) }}

        <div class="row">
            <div class="col-9">
                {{ form_widget(form.associatedGuests) }}
            </div>
            <div class="col-3">
                <button type="button" id="selectAllGuests" class="btn btn-primary">Tout sélectionner</button>
            </div>
        </div>

    </div>


    {{ form_widget(form) }}
    <div class="float-end">
        {% block pageSaveReturn %}{{ macro.save('type_index', {}, 'Ajouter le type', 'fa fa-plus-circle') }}{% endblock %}
    </div>
    {{ form_end(form) }}

{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('enable-select2') }}
    {{ encore_entry_script_tags('select-all-users') }}
    {{ encore_entry_script_tags('toggle-calendar') }}
{% endblock %}


