{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Modifier un type de séance' %}

{% block pageActions %}
    {{ macro.backButton('type_index') }}
{% endblock %}

{% block pageForm %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <div class="form-group">
        Elus associés (<label id="type_associatedActorsLabel" class="" for="type_associatedActors"> </label>)

        {{ form_errors(form.associatedActors) }}

        <div class="row">
            <div class="col-9">
                {{ form_widget(form.associatedActors) }}
            </div>
            <div class="col-3">
                <button type="button" id="selectAll" class="btn btn-primary">Tout sélectionner</button>
            </div>
        </div>

    </div>
    <div class="form-group">
        Personnels administratifs, Administrateurs, Gestionnaires de séance associés (<label id="type_associatedEmployeesLabel" class="" for="type_associatedEmployees"> </label>)

        {{ form_errors(form.associatedEmployees) }}

        <div class="row">
            <div class="col-9">
                {{ form_widget(form.associatedEmployees) }}
            </div>
            <div class="col-3">
                <button type="button" id="selectAllEmployees" class="btn btn-primary">Tout sélectionner</button>
            </div>
        </div>

    </div>
    <div class="form-group">
        Invités associés (<label id="type_associatedGuestsLabel" class="" for="type_associatedGuests"> </label>)

        {{ form_errors(form.associatedGuests) }}

        <div class="row">
            <div class="col-9">
                {{ form_widget(form.associatedGuests) }}
            </div>
            <div class="col-3">
                <button type="button" id="selectAllGuests" class="btn btn-primary">Tout sélectionner</button>
            </div>
        </div>

    </div>


    {{ form_widget(form) }}
    <div class="float-right">
        {% block pageSaveReturn %}{{ macro.save('type_index') }}{% endblock %}
    </div>
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('enable-select2') }}
    {{ encore_entry_script_tags('select-all-users') }}
    {{ encore_entry_script_tags('toggle-calendar') }}
{% endblock %}


