{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Types de séance' %}

{% block pageActions %}
    <div class="row">
        <div class="col-6 pull-left">
            {% if is_granted('ROLE_MANAGE_TYPES') %}
                {{ macros.addButton('type_add', 'Ajouter un type', 'Ajouter un type') }}
            {% endif %}
        </div>

        <div class="col-6">
            {{ macros.searchForm(formSearch, searchTerm, 'type_index') }}
        </div>
    </div>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped  bg-white">
        <thead>
            <tr class="d-flex">
                <th class="col-10">Intitulé</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ macros.emptyList(types, "Aucun type à afficher") }}

            {% for type in types %}
                <tr class="d-flex">
                    <td class="col-10">{{ type.name }}</td>
                    <td class="col-2">
                        {{ macros.editButton('type_edit', type.id, 'modifier le type') }}
                        {{ macros.button_open_modal_delete(
                            type.id,
                            'Suppression de type',
                            'type_delete',
                            'Voulez-vous vraiment supprimer ce type ?',
                            types.currentPageNumber
                        ) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(types) %}
