{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Ajout d\'une séance' %}

{% block pageActions %}
    {{ macro.backButton('sitting_index', {'status' : 'active'}) }}
{% endblock %}

{% block pageForm %}
    {{ form_start(form, {attr:{'novalidate': true}}) }}

    {{ form_widget(form) }}

    <div class="float-end">
        {% block pageSaveReturn %}{{ macro.save('sitting_index') }}{% endblock %}
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('toggle-calendar-new-sitting') }}
{% endblock %}
