{% extends 'base.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}
{% import 'macro/_sitting_tabs.html.twig' as macroTab %}
{% import 'macro/_sitting_nav.html.twig' as macroNav %}

{% block body %}
    <div class="col-12">
        {{ apy_breadcrumb_trail_render(breadcrumb) }}
    </div>



    <div class="d-flex align-items-center col-11 mt-3">
        <h1 class="flex-grow-1">Détail de la séance</h1>
        {% if  not sitting.isArchived %}
            {{ macroNav.toogleView( path('edit_sitting_otherdoc', {'id': sitting.id}) , 'show') }}
        {% endif %}
    </div>

    <div class="col-12">
        <div class="mt-4">
            {{ macro.backButton('sitting_index', {'status' : sitting.isArchived ? 'archived' : 'active'}) }}
        </div>


        <div class="col-10 offset-1 mt-4 form-white">
            {{ macroTab.showTabs('otherdocs', sitting) }}
            <h2>Autres documents</h2>
            <div class="mt-4"></div>

            {% if otherdocs | length == 0 %}
                <div class="text-center" >
                    Aucun document associé
                </div>
            {% endif %}


            {% for otherdoc in otherdocs %}

                <div class="il-project">
                    <div class="project-left">
                        <span class="badge badge-primary rank">{{ otherdoc.rank + 1 }}</span>
                    </div>

                    <div class="project-right">

                        <div class="project-line">
                            <div class="project-item">
                                <b>{{ otherdoc.name }}</b>
                            </div>
                            <div class="project-item">
                                {{ otherdoc.file.name }}
                            </div>
                            <div class="project-item action">
                                <a class="btn btn-outline-secondary borderless"
                                   href="{{ path('file_download', {'id': otherdoc.file.id}) }}"
                                   title="Télécharger le document">
                                    <span class="fas fa-download"></span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div>&nbsp</div>

{% endblock %}
