{% extends 'base.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}
{% import 'macro/_sitting_tabs.html.twig' as macroTab %}
{% import 'macro/_sitting_nav.html.twig' as macroNav %}

{% block body %}
    <div class="col-12">
        {{ apy_breadcrumb_trail_render(breadcrumb) }}
    </div>



    <div class="d-flex align-items-center col-11 mt-3">
        <h1 class="flex-grow-1">Détail de la séance</h1>
        {% if  not sitting.isArchived %}
            {{ macroNav.toogleView( path('edit_sitting_project', {'id': sitting.id}) , 'show') }}
        {% endif %}
    </div>

    <div class="col-12">
        <div class="mt-4">
            {{ macro.backButton('sitting_index', {'status' : sitting.isArchived ? 'archived' : 'active'}) }}
        </div>


        <div class="col-10 offset-1 mt-4 form-white">
            {{ macroTab.showTabs('projects', sitting) }}
            <h2>Projets</h2>
            <div class="mt-4"></div>

            {% if projects | length == 0 %}
            <div class="text-center" >
                Aucun projet associé
            </div>
            {% endif %}


            {% for project in projects %}

                <div class="il-project">
                    <div class="project-left">
                        <span class="badge badge-primary rank">{{ project.rank + 1 }}</span>
                    </div>

                    <div class="project-right">

                        <div class="project-line">
                            <div class="project-item">
                                <b>{{ project.name }}</b>
                            </div>
                            <div class="project-item">
                                {{ project.file.name }}
                            </div>
                            <div class="project-item action">
                                <a class="btn btn-outline-secondary borderless"
                                   href="{{ path('file_download', {'id': project.file.id}) }}"
                                   title="Télécharger le project">
                                    <span class="fas fa-download"></span>
                                </a>
                            </div>

                        </div>

                        <div class="project-line">
                            <div class="project-item">
                                {% if project.reporter %}
                                    Rapporteur : <b>{{ project.reporter.firstName }} {{ project.reporter.lastName }}</b>
                                {% endif %}
                            </div>
                            <div class="project-item">
                                {% if project.theme.fullName is defined %}
                                    Theme : <b>{{ project.theme.fullName }}</b>
                                {% endif %}
                            </div>
                            <div class="project-item action"></div>

                        </div>

                        <div class="annex-list">
                            {% for annex in project.annexes %}

                                <div class="project-line annex">
                                    <div class="project-item">
                                        {{ annex.rank + 1 }} - {{ annex.file.name }}
                                    </div>
                                    <div class="project-item action">
                                        <a class="btn btn-outline-secondary borderless"
                                           href="{{ path('file_download', {'id': annex.file.id}) }}"
                                           title="Télécharger l'annexe">
                                            <span class="fas fa-download"></span>
                                        </a>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div>&nbsp</div>

{% endblock %}
