{% extends 'base.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}
{% import 'macro/_sitting_tabs.html.twig' as macroTab %}
{% import 'macro/_sitting_nav.html.twig' as macroNav %}

{% block stylesheets %}
    {{ encore_entry_link_tags('vue-manage-otherdocs') }}
{% endblock %}


{% block body %}

    <div class="col-12">
        {{ apy_breadcrumb_trail_render(breadcrumb) }}
    </div>


    <div v-cloak id="app">
        <div class="alert alert-success mt-2 col-11" v-if="messageInfo"> ${messageInfo}</div>
        <div class="alert alert-danger mt-2 col-11" v-if="messageError"> ${messageError}</div>

        <div class="mt-3 col-11">
            <div class="d-flex align-items-center">
                <h1 class="flex-grow-1">Modifier la séance</h1>
                {{ macroNav.toogleView( path('sitting_show_otherdocs', {'id': sitting.id}) , 'edit') }}
            </div>

            <div class="mt-4">
                {{ macro.backButton('sitting_index', {'status' : 'active'}) }}
            </div>

        </div>


        <div class="col-10 offset-1 mt-4 form-white">
            {{ macroTab.editTabs('otherdocs', sitting) }}


            <label class="project-file-btn btn btn-primary" title="Ajouter des documents">
                <input class="project-file-btn" type="file" accept=".pdf,.PDF" multiple @change="addOtherdoc($event)" onclick="this.value=null">
                <span class="fa fa-plus-circle"></span> Ajouter des documents
            </label>

            <div class="mt-4"></div>

            <div v-if="otherdocs.length == 0" class="text-center">
                Aucun document associé
            </div>


            <draggable v-model="otherdocs" class="bg-white" v-on:change="otherdocChange()" handle=".handle">

                <div v-for="(otherdoc, index) in otherdocs">
                    <div class="il-project">
                        <div class="project-left cursor-grab handle">
                            <div class="dropdown">
                                <span class="badge badge-primary rank">${index + 1}</span>
                                <div class="dropdown-content">
                                    <div v-for="rank in otherdocs.length" class="newRank" v-on:click="move(index, rank -1)"> ${rank}</div>
                                </div>

                            </div>
                        </div>

                        <div class="project-right">
                            <div class="project-line">
                                <div class="project-item">
                                    <textarea v-model="otherdoc.name" class="form-control" v-on:change="otherdocChange()"> </textarea>
                                </div>
                                <div class="project-item">
                                    ${otherdoc.fileName}
                                </div>

                                <div class="project-item action">
                                    <button class="btn btn-outline-danger borderless float-right"
                                            v-on:click="removeOtherdoc(index)">
                                        <span class="fa fa-trash-alt" title="Supprimer"></span>
                                    </button>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </draggable>

            <div class="float-right mt-5">
                <button class="btn btn-outline-dark" @click="cancel()">
                    <span class="fa fa-times"></span> Annuler Les modifications
                </button>

                <button class="btn btn-primary" @click="save()">
                    <span class="fa fa-save"></span>
                    Enregistrer les modifications
                </button>
            </div>


            <div v-if="showModal">
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <div class=" display-2">
                                            <span class=" fas fa-spinner fa-spin"> </span>
                                        </div>
                                        <b class="display-4" v-if="uploadPercent < 100"> ${uploadPercent} %</b>
                                        <b class="display-4" v-else> Préparation de la séance en cours</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>


        </div>

    </div>


    {{ include('include/_modal_confirm_not_save.html.twig') }}


    <div><a id="cRetour" class="cInvisible" href="#haut"></a></div>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('vue-manage-other-docs') }}
{% endblock %}
