{% extends 'base.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}
{% import 'macro/_sitting_tabs.html.twig' as macroTab %}


{% block body %}

<div class="col-12">
    {{ apy_breadcrumb_trail_render(breadcrumb) }}
</div>

<div class="mt-3 col-12">
    <h1>Modifier les informations d'une séance</h1>

    <div class="mt-4">
        {{ macro.backButton('sitting_index') }}
    </div>


</div>

<div class="row mt-4">
    <div class="col-10 offset-1 form-white">
        {{ macroTab.editTabs('information', sitting) }}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="float-right">
            {{ macro.save('sitting_index') }}
        </div>
        {{ form_end(form) }}
    </div>
</div>

&nbsp
<div class="col-10 offset-1">
    {% block bottomPage %}{% endblock %}
</div>



    <div id="confirm-not-save" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attention</h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                    Voulez vous changer de page sans sauvegarder ?
                </div>

                <div class="modal-footer">

                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                        <span class="fa fa-times"></span> Annuler
                    </button>
                    <a href="#" id="confirm-btn">Confirmer</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('vue-edit-informations') }}
{% endblock %}


