{% extends 'base.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block body %}

    <div class="container-fluid col-10 offset-1">

        {{ include('include/flash.html.twig') }}

        <h1 class="mt-5">Page de politique de confidentialité</h1>

        <div class="mt-3">
            {{ macro.backButton('app_entrypoint') }}
        </div>


        <div class="row mt-4">
            <div class="col-10 offset-1 form-white">

                La création de votre compte utilisateur sur idelibRE demande la
                saisie de données personnelles vous concernant. Vous trouverez ci-dessous le
                détail des informations collectées ainsi que les traitements effectués. Ces
                données sont collectées uniquement dans le cadre de votre activité
                professionnelle et pour l'utilisation exclusive de
                l'application comelus.
                Le fonctionnement dans les conditions nominales et recommandées de
                l'application, ne permet pas de partager ou de diffuser à un tiers vos
                informations personnelles. Vous pouvez demander à tout moment à l'administrateur
                de la plateforme de vous communiquer l'ensemble des informations collectées pour
                la création de votre compte.

                <h2 class="mt-3">Article 1 - Mentions légales</h2>
                <h3 class="mt-3">1.1 Logiciel (ci-après « le logiciel ») :</h3>
                idelibRE
                <h3 class="mt-3">1.2 Éditeur (ci-après « l'éditeur ») :</h3>
                LIBRICIEL SCOP<br>

                836 Rue du Mas de Verchant - 34000 Montpellier<br>

                numéro SIRET : 491 011 698 00025 <br>

                <h2 class="mt-3">Article 2 - Hébergement</h2>


                <h3 class="mt-3">2.1 Hébergeur (ci-après « l'hébergeur ») :</h3>
                Vos données sont hébergées chez plusieurs de nos sous-traitants, uniquement sur le territoire Français.
                idelibRE est hébergée par : <br>
                {{ gdpr.companyName ?? 'Non renseignée' }} <br>
                {{ gdpr.address ?? 'Non renseignée' }} <br>

                représentée par : {{ gdpr.representative ?? 'Non renseignée' }}, en sa qualité de :
                {{ gdpr.quality ?? 'Non renseignée' }} <br>

                numéro SIRET : {{ gdpr.siret ?? 'Non renseignée' }} <br>

                code APE : {{ gdpr.ape ?? 'Non renseignée' }} <br>

                n° de téléphone : {{ gdpr.companyPhone ?? 'Non renseignée' }} <br>

                e-mail : {{ gdpr.companyEmail ?? 'Non renseignée' }} <br>
                <h3 class="mt-3">2.2 Délégué à la protection des données (DPO) :</h3>
                Vous pouvez contacter notre Délégué à la Protection des Données à l'adresse mail suivante : <br>

                {{ gdpr.dpoEmail ?? 'Non renseignée' }}


                <h2 class="mt-3">Article 3 - Collecte</h2>
                Création d'un utilisateur : <br>
                Lors de la création de votre compte utilisateur, les informations suivantes sont collectées
                obligatoirement
                : <br>

                Nom d'utilisateur <br>
                Prénom de l'utilisateur <br>
                Adresse de messagerie <br>
                Identifiant <br>


                <h2 class="mt-3">Article 4 - Traitements</h2>
                Vos informations personnelles sont utilisées pour le bon fonctionnement de idelibRE dans les cas listés
                ci-après :

                lister les utilisateurs de l'application : <br>
                votre prénom, votre nom et votre adresse de messagerie apparaissent dans la liste. <br><br>

                Envoyer des convocation : <br>
                votre prénom, votre nom et votre adresse sont utilisés pour l'envoi <br>
                <br>

                Gestions des séances : <br>
                votre prénom, votre nom et votre adresse apparaissent dans la liste <br>
                <br>


                <h2 class="mt-3">Article 5 - Droit à l'oubli</h2>
                Sur votre demande ou à la demande de l’administrateur de idelibRE, votre compte utilisateur peut être
                supprimé définitivement. <br>

                La suppression de votre compte laissera les traces de votre activité : <br>

                dans le journal des évenements pendant une durée de 6 mois après la suppression de l'utilisateur <br>

                <h2 class="mt-3">Article 6 - Vos droits sur les données vous concernant</h2>
                Vous pouvez accéder et obtenir une copie des données vous concernant, vous opposer au traitement de ces
                données,
                les faire rectifier ou les faire effacer. Vous disposez également d'un droit à la limitation du
                traitement
                de vos données.
                <a href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles"> Comprendre vos
                    droits
                    informatique et libertés</a>
                <br>

                Pour exercer vos droits sur les données personnelles vous concernant, vous
                pouvez contacter le Délégué à la Protection des Données (DPO), à l’adresse
                suivante : <br>

                {{ gdpr.dpoEmail ?? 'Non renseignée' }}

                Réclamation (plainte) auprès de la CNIL
                Si vous estimez, après nous avoir contacté, que vos droits sur vos données ne
                sont pas respectés, vous pouvez <a href="https://www.cnil.fr/fr/plaintes">adresser une réclamation
                    (plainte)
                    à la CNIL</a>.
            </div>
        </div>
    </div>
{% endblock %}
