{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Ajout d\'une clé d\'api' %}

{% block pageActions %}
    {{ macro.backButton('apiUser_index') }}
{% endblock %}

{% block pageForm %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_label(form.token) }}
    {{ form_errors(form.token) }}
    <div class="input-group mb-3">
        {{ form_widget(form.token) }}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" title="Renouveler la clé d'API" onclick="refreshKey()">
                <span class="fas fa-sync"></span>
            </button>
        </div>
    </div>
    {{ form_help(form.token) }}

    <div class="float-end">
        {% block pageSaveReturn %}
            {{ macro.save('apiUser_index', {}, 'Ajouter la clé d\'api', 'fa fa-plus-circle') }}
        {% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}
