{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle "Clés d'API" %}

{% block pageActions %}
    {{ macros.addButton('apiUser_add', 'Ajouter une clé d\'api', 'Ajouter une clé d\'api') }}
{% endblock %}

{% block pageTable %}
    <table class="table table-striped bg-white">
        <thead>
            <tr class="d-flex">
                <th class="col-6">Intitulé</th>
                <th class="col-4">Role</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ macros.emptyList(apiUsers, "Aucune clé d'API à afficher") }}

            {% for apiUser in apiUsers %}
                <tr class="d-flex">
                    <td class="col-6">{{ apiUser.name }}</td>
                    <td class="col-4">{{ apiUser.apiRole.prettyName }}</td>
                    <td class="col-2">
                        {{ macros.editButton('apiUser_edit', apiUser.id, 'Modifier la clé d\'api') }}

                        {{ macros.button_open_modal_delete(
                            apiUser.id,
                            'Suppression de la clé d\'api ' ~ apiUser.name,
                            'apiUser_delete',
                            'Voulez-vous vraiment supprimer la clé d\'api ' ~ apiUser.name ~ ' ?',
                            apiUsers.currentPageNumber,
                            'Supprimer la clé d\'api'
                        ) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(apiUsers) %}
