<footer >
    <nav class="navbar fixed-bottom navbar-dark bg-ls-dark" style="height: 30px;">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item">
                <span class="text-white"  style="padding: 0 0 0 0">
                    {{ product_name}} {{ version }} (c) {{ product_editor }}
                </span>
            </li>
        </ul>
        <a href="https://www.libriciel.fr" target="_blank" class="pull-right" id="footer-logo-container">
            <img src="{{ asset('assets/img/Libriciel_white.svg') }}" alt="logo libriciel footer">
            <img src="{{ asset('assets/img/Libriciel_grey.svg') }}" alt="logo libriciel footer">
        </a>
    </nav>
</footer>
