<footer >
    <nav class="navbar fixed-bottom navbar-dark bg-ls-dark" style="height: 30px;">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item">
                <span class="text-white"  style="padding: 0 0 0 0">
                    {{ product_name}} {{ version }} <i class="fa-regular fa-copyright fw-lighter mx-1"></i> {{ product_editor }} 2006-2024
                </span>
            </li>
        </ul>
        <a href="https://www.libriciel.fr" target="_blank" class="pull-right" id="footer-logo-container">
            <img src="{{ asset('assets/img/Libriciel_white.svg') }}" alt="logo libriciel footer">
            <img src="{{ asset('assets/img/Libriciel_grey.svg') }}" alt="logo libriciel footer">
        </a>
    </nav>
</footer>
