{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Administrateurs de la plateforme' %}

{% block pageActions %}
    <div class="row">
        <div class="col-6 pull-left">
            {% if is_granted('ROLE_SUPERADMIN') %}
                <a href="{{ path('admin_add') }}" class="btn btn-primary"><span
                            class="fa fa-plus-circle"></span>
                    Ajouter</a>
            {% endif %}
            <a href="{{ path('admin_goup_add') }}" class="btn btn-outline-primary"><span
                        class="fa fa-plus-circle"></span>
                Ajouter un admin de groupe</a>
        </div>

        <div class="col-6">
            {{ form_start(formSearch, {'method': 'GET'}) }}

            <div class="input-group col-8 float-right pr-0">
                {{ form_widget(formSearch.search, {'value': searchTerm}) }}
                <div class="input-group-append">
                    <button class="btn btn-primary" title="Filtrer">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </div>
            {{ form_end(formSearch) }}
        </div>
    </div>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped  bg-white">
        <thead>
        <tr class="d-flex">
            <th class="col-2">{{ knp_pagination_sortable(users, 'Nom', 'u.lastName') }}</th>
            <th class="col-3">{{ knp_pagination_sortable(users, 'Nom d\'utilisateur', 'u.username') }}</th>
            <th class="col-2">{{ knp_pagination_sortable(users, 'Role', 'u.roles') }}</th>
            <th class="col-3">{{ knp_pagination_sortable(users, 'Groupe', 'g.name') }}</th>

            <th class="col-2">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr class="d-flex">
                <td class="col-2">{{ user.lastName }} </td>
                <td class="col-3">{{ user.username }} </td>
                <td class="col-2">{{ ('ROLE_SUPERADMIN' in user.roles) ? 'Superadmin' : 'Admin de groupe' }} </td>
                <td class="col-3"> {{ user.group ? user.group.name : '' }} </td>
                <td class="col-2">
                    {{ macros.editButton('admin_edit', user.id) }}
                    {{ macros.button_open_modal_delete(
                        user.id,
                        'Suppression d\'administrateur',
                        'admin_delete',
                        'Voulez vous vraiment supprimer cet administrateur ?',
                        users.currentPageNumber
                    ) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(users) %}
