{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Administrateurs de la plateforme' %}

{% block pageActions %}
    <div class="row">
        <div class="col-6 pull-left">
            {% if is_granted('ROLE_SUPERADMIN') %}
                {{ macros.addButton('admin_add') }}
            {% endif %}

            {{ macros.addButton(
                'admin_goup_add',
                'Ajouter un admin de groupe',
                'Ajouter un admin de groupe',
                'btn-outline-primary'
            ) }}
        </div>

        <div class="col-6">
            {{ macros.searchForm(formSearch, searchTerm, 'admin_index') }}
        </div>
    </div>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped bg-white">
        <thead>
            <tr class="d-flex">
                <th class="col-2">{{ knp_pagination_sortable(users, 'Nom', 'u.lastName') }}</th>
                <th class="col-3">{{ knp_pagination_sortable(users, 'Nom d\'utilisateur', 'u.username') }}</th>
                <th class="col-2">{{ knp_pagination_sortable(users, 'Profil', 'r.prettyName') }}</th>
                <th class="col-3">{{ knp_pagination_sortable(users, 'Groupe', 'g.name') }}</th>
                <th class="active_column">{{ knp_pagination_sortable(users, '', 'u.isActive') }}</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ macros.emptyList(users, "Aucun utilisateur à afficher") }}

            {% for user in users %}
                <tr class="d-flex">
                    <td class="col-2">
                        {{ user.lastName }}
                    </td>
                    <td class="col-3">
                        {{ user.username }}
                    </td>
                    <td class="col-2">
                        {{ ('ROLE_SUPERADMIN' in user.roles) ? 'Superadmin' : 'Admin de groupe' }}
                    </td>
                    <td class="col-3">
                        {{ user.group ? user.group.name : '' }}
                    </td>
                    <td class="active_column">{{ user.isActive }}</td>
                    <td class="col-2 actionButton">
                        {% if (app.user != user) %}
                            {{ macros.btnReloadPasswordWithModal(
                                user.id,
                                'Réinitialisation du mot de passe de l\'utilisateur',
                                'admin_invalidate_password',
                                'Voulez-vous vraiment activer la procédure de réinitialisation du mot de passe de l\'administrateur ?',
                                users.currentPageNumber
                            ) }}
                        {% endif %}

                        {{ macros.editButton('admin_edit', user.id) }}

                        {% if (app.user != user) %}
                            {{ macros.button_open_modal_delete(
                                user.id,
                                'Suppression d\'administrateur',
                                'admin_delete',
                                'Voulez-vous vraiment supprimer cet administrateur ?',
                                users.currentPageNumber
                            ) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(users) %}
