{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Groupes politiques' %}

{% block pageActions %}
    {{ macros.addButton('party_add', 'Ajouter un groupe politique', 'Ajouter un groupe politique') }}
{% endblock %}

{% block pageTable %}
    <table class="table table-striped bg-white">
        <thead>
            <tr class="d-flex">
                <th class="col-8">Intitulé</th>
                <th class="col-2">Abréviations</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ macros.emptyList(parties, "Aucun groupe politique à afficher") }}

            {% for party in parties %}
                <tr class="d-flex">
                    <td class="col-8">{{ party.name }}</td>
                    <td class="col-2">{{ party.initials }}</td>
                    <td class="col-2">
                        {{ macros.editButton('party_edit', party.id, 'modifier le groupe politique') }}

                        {{ macros.button_open_modal_delete(
                            party.id,
                            'Suppression du groupe politique ' ~ party.name,
                            'party_delete',
                            'Voulez-vous vraiment supprimer le groupe politique ' ~ party.name ~ ' ?'
                            parties.currentPageNumber,
                            'supprimer le groupe politique'
                        ) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(parties) %}
