{% extends 'base_login.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block title %}Confirmation de présence à la séance{% endblock %}

{% block body %}


    <div class="form-side">

        <div class="form-content" style="width: 600px">
            <div class="soft-logo">
                <img id="libriciel-logo" alt="Image du Libriciel"
                     height="10" width="10"
                     src="{{ asset('assets/img/application_logo.svg') }}">
            </div>

            <section class="mt-5">
                <div class="d-flex">
                    <h1 class="h3 mb-4" >
                        {{ user.firstName }} {{ user.lastName }}
                        {% if not attendance %} <div class="badge badge-secondary">Présence à définir</div> {% endif %}
                        {% if attendance == 'present' %} <div class="badge badge-info"> Présent</div> {% endif %}
                        {% if attendance == 'remote' %} <div class="badge badge-info"> Présent à distance</div> {% endif %}
                        {% if attendance == 'absent' %} <div class="badge badge-danger"> Absent</div> {% endif %}

                    </h1>

                </div>
                <p><b>Séance : </b> {{ sitting.name }}</p>
                <p><b>Date de la séance : </b> {{ sitting.date | date('d/m/y : H:i', timezone) }}</p>
                {% if convocation.deputy is not null %} <p><b>Mandataire :</b> {{ convocation.deputy }}</p>{% endif %}

                <div class="mt-5">
                    {{ form_start(form)}}
                    {{ form_widget(form) }}

                    <div class="float-right">
                        {% block pageSaveReturn %}{{ macro.save('sitting_index') }}{% endblock %}
                    </div>

                    {{ form_end(form) }}
                </div>

            </section>

        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('attendance') }}
    {% endblock %}


{% endblock %}
