{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Importer des utilisateurs via csv' %}

{% block pageActions %}
    {{ macro.backButton('user_index') }}
{% endblock %}

{% block pageDetails %}

    <div class="alert alert-info">
        Information : Votre csv doit être contruit de la manière suivante : <br>
        Le séparateur est le caractère "," <br>
        champ 1 : Nom d'utilisateur <br>
        champ 2 : Prénom <br>
        champ 3 : Nom <br>
        champ 4 : Email <br>
        champ 5 : Mot de passe <br>
        champ 6 : Type d'utilisateur
        <ul>
            <li>Gestionnaire de séance : 1</li>
            <li>Administrateur : 2</li>
            <li>Elus : 3</li>
        </ul>
        <br>
        Exemple : <br>
        d.martin,Damien,Martin,d.martin@exemple.org,azety,2<br>
        e.durant,Emilie,Durant,e.durant@exemple.org,wxcvb,3
    </div>
{% endblock %}



{% block pageForm %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="alert alert-warning">Attention : L'import des utilisateurs peut durer plusieurs dixaines de secondes</div>

    <div class="float-right">
        {% block pageSaveReturn %}{{ macro.save('user_index') }}{% endblock %}
    </div>

    {{ form_end(form) }}

{% endblock %}



{% block javascripts %}
    <script>
        let freezeClick = false;

        let formCsv = document.getElementsByName("csv")[0];
        formCsv.onsubmit = () => {
            freezeClick = true;
        }

        document.addEventListener("click", e => {
            if (freezeClick) {
                console.log('clicks are disabled');
                e.stopPropagation();
                e.preventDefault();
            }
        }, true);
    </script>
{% endblock %}

