{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Modifier l\'abonnement' %}

{% block pageActions %}
    {{ macro.backButton('subscription_index') }}
{% endblock %}

{% block pageForm %}

    {{ form_start(form) }}
    <div class="alert alert-info">
        <b>Attention</b> : la modification s'appliquera à toutes les séances en cours.
    </div>
    {{ form_row(form.acceptMailRecap) }}

    {{ form_widget(form) }}
    <div class="float-right">
        {% block pageSaveReturn %}{{ macro.save('subscription_index') }}{% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}