{% block ls_choice_row %}

    {% set class = "" %}
    {% set data_infos = "" %}
    {% for key, attr in form.vars.attr%}
        {% if 'class' in key %} {% set class=attr %} {% endif %}
        {% if 'data-infos' in key %} {% set data_infos=attr %} {% endif %}
    {% endfor %}

    {% if form.vars.choices|length <= 2 %}
        <fieldset class="mb-3" xmlns="http://www.w3.org/1999/html">
            <legend class="col-form-label pt-0 fw-bold {% for label in form.vars.label_attr %} {{ label }} {% endfor %}" data-info = "{{ data_infos }}">
                {{ form.vars.label }}
            </legend>
                <div class="{% for attr in form.vars.row_attr %} {{ attr }} {% endfor %}" id="{{ id }}">
                    {% for choice in form.vars.choices %}
                        <div class="form-check-inline" style="margin-right: .25rem">
                            <input type="radio"
                                   class="btn-check {{ class }}"
                                   id="{{ id ~ '_' ~ loop.index0 }}"
                                   autocomplete="off"
                                   name="{{ full_name }}" value="{{ choice.value }}"
                                    {% if choice.attr %}{{ choice.attr }}{% endif %}
                                    {% if choice.value == value %}checked="checked"{% endif %}
                            >
                            <label class="btn btn-outline-primary" for="{{ id ~ '_' ~ loop.index0 }}">{{ choice.label }}</label>
                        </div>
                    {% endfor %}
                </div>
        </fieldset>

        {% else %}
            <div class="mb-3">
                {{ form_row(form) }}
            </div>
    {% endif %}
{% endblock %}
