{% block ls_file_row %}

    <div class="form-group">
        {{- form_errors(form) -}}
        {{- form_label(form) -}} <br>
        <label class="custom-file-upload btn btn-primary" title="{{ label }}">
            <input type="file"
                   id="{{ id }}" name="{{ full_name }}" class="custom-file-upload"
                    {%- if disabled %} disabled="disabled"{% endif -%}
                    {%- if required %} required="required"{% endif -%}
                    {%- if attr.accept is defined %} accept="{{ attr.accept }}"{% endif -%}
            />
            <span class="{{ attr.icon is defined ? attr.icon : 'fas fa-plus-circle' }}"> </span>
            {{ attr.placeholder is defined ? attr.placeholder : "Parcourir" }}
        </label>
        <div class="div-info mb-4" hidden="true">

        </div>
    </div>

{% endblock %}
