{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Modification du connecteur Comélus' %}

{% block pageActions %}
    {{ macro.backButton('connector_index') }}
{% endblock %}

{% block pageForm %}
    {{ form_start(form) }}

    {{ form_row(form.url) }}
    {{ form_row(form.apiKey) }}

    <div id="statusComelus" class="alert alert-info" data-url-check="{{ path("comelus_connector_check") }}">
     Vérification de la configuration du connecteur
    </div>

    {{ form_row(form.mailingListId, {attr : {'data-url-list':path("comelus_connector_mailing_lists")}}) }}

    {{ form_label(form.description) }}

    <button type="button"
         class="btn btn-outline-info borderless float-end"
         data-bs-toggle="popover"
         title="Liste des variables"
         data-html="true"
         data-bs-content="{{ include('connector/_comelus.popover.html.twig') }}">Variables
    </button>
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_help(form.description) }}

    {{ form_widget(form) }}

    <div class="float-end">
     {% block pageSaveReturn %}{{ macro.save('connector_index', {}, 'Enregistrer', 'fa fa-save') }}{% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('enable-popover') }}
{% endblock %}
