{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Paramétrer le connnecteur Lsmessage' %}

{% block pageActions %}
    {{ macro.backButton('connector_index') }}
{% endblock %}


{% block pageForm %}

    {{ form_start(form) }}

    {{ form_row(form.url) }}
    {{ form_row(form.apiKey) }}

    <div id="status" class="alert alert-danger" data-url-check="{{ path("lsmessage_connector_check") }}">
        Le connecteur n'est pas correctement configuré
    </div>

    {{ form_widget(form) }}
    <div class="float-right">
        {% block pageSaveReturn %}{{ macro.save('connector_index') }}{% endblock %}
    </div>
    {{ form_end(form) }}

{% endblock %}


