{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Paramétrer le connecteur lsvote' %}

{% block pageActions %}
    {{ macro.backButton('connector_index') }}
{% endblock %}

{% block pageForm %}

    {{ form_start(form) }}

    {{ form_row(form.url) }}
    {{ form_row(form.apiKey) }}

    <div id="statusLsvote" class="alert alert-info" data-url-check="{{ path("lsvote_connector_check") }}">
        Vérification de la configuration du connecteur
    </div>

    {{ form_widget(form) }}
    <div class="float-end">
        {% block pageSaveReturn %}{{ macro.save('connector_index', {}, 'Ajouter le connecteur', 'fa fa-plus-circle') }}{% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}
