{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle title %}

{% block pageActions %}
    {{ macro.backButton('user_index') }}
{% endblock %}

{% block pageForm %}
    {{ form_start(form) }}

    {{ form_row(form.gender) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}

    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}


    <div class="d-flex flex-column mb-3">
        <span>{{ form_label(form.username) }}</span>
        <div class="form-control d-flex align-items-center ps-0 borderless">
            <span class="w-50">{{ form_widget(form.username) }}</span>
            <b class="text-ls-dark ms-2">@{{ suffix }}</b>
        </div>
    </div>

    {% if user.role.prettyName is same as "Gestionnaire de séance" %}
        {{ form_row(form.authorizedTypes) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.initPassword) }}
        <div class="d-none" id="passwordGroup">
            {{ form_row(form.plainPassword) }}
        </div>

        {% elseif user.role.prettyName is same as"Administrateur" %}
            {% if app.user != user %}
                {{ form_row(form.isActive) }}
            {% endif %}

        {% elseif user.role.prettyName is same as "Elu" %}
            {{ form_row(form.party) }}
            {{ form_row(form.title) }}
            {{ form_row(form.deputy) }}
            {{ form_row(form.isActive) }}

            {{ form_row(form.initPassword) }}
            <div class="d-none" id="passwordGroup">
                {{ form_row(form.plainPassword) }}
            </div>

            {% elseif user.role.prettyName is same as "Invité" or user.role.prettyName is same as "Personnel administratif" %}
                {{ form_row(form.isActive) }}
                {{ form_row(form.initPassword) }}
            <div class="d-none" id="passwordGroup">
                {{ form_row(form.plainPassword) }}
            </div>
    {% endif %}


    <div class="float-end">
        {% block pageSaveReturn %}
            {{ macro.save('user_index') }}
        {% endblock %}
    </div>
    {{ form_end(form) }}

    &nbsp;
    <div class="mt-5">
        Invalider les connexions de consultation de séance

        {{ macro.button_open_modal_post(
            user.id,
            'Ivalider la connexion',
            'Voulez-vous detruire toute les sessions de connexion de cet élu ?',
            'jwt_invalidate',
            'fas fa-sign-out-alt fa-lg',
            'deconnecter'
        ) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('enable-select2') }}
    {{ encore_entry_script_tags('showPasswordEntropy') }}
    {{ encore_entry_script_tags('initPassword') }}
    {{ encore_entry_script_tags('setPasswordUser') }}
{% endblock %}
