{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle 'Modifier un utilisateur' %}

{% block pageActions %}
    {{ macro.backButton('user_index') }}
{% endblock %}

{% block pageForm %}

{{ form_start(form) }}

{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}

{{ form_label(form.username) }}
<div class="row mb-3">
    <div class="col-7">
        {{ form_widget(form.username) }}
    </div>
    <div class="col-5 form-control borderless">
        <b class="text-ls-dark">@{{ suffix }}</b>
    </div>
</div>

{{ form_widget(form) }}
<div class="float-right">
    {% block pageSaveReturn %}{{ macro.save('user_index') }}{% endblock %}
</div>
{{ form_end(form) }}

{% endblock %}



