{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Utilisateurs' %}

{% block pageActions %}
    <div class="row">
        <div class="col-7 pull-left">
            {{ macros.addButton('user_add') }}

            {{ macros.addButton(
                'csv_add_users',
                'Ajouter via csv',
                'Ajouter via csv',
                'btn-outline-primary'
            ) }}

            {{ macros.batchDeleteButton(
                'user_delete_batch',
                'Supprimer par lot',
                'Supprimer par lot',
                'btn-outline-primary'
            ) }}

            {{ macros.btnInvalidePasswordWithModal(
                'Invalidation des mots de passe',
                'Invalider tous les mots de passe',
                'invalidate_users_password',
            ) }}
        </div>

        <div class="col-5">
            {{ macros.searchForm(formSearch, searchTerm, 'user_index') }}
        </div>
    </div>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped mt-3 bg-white">
        <thead>
            <tr class="d-flex">
                <th class="col-1">{{ knp_pagination_sortable(users, 'Nom', 'u.lastName') }}</th>
                <th class="col-2">{{ knp_pagination_sortable(users, 'Prénom', 'u.firstName') }}</th>
                <th class="col-2">{{ knp_pagination_sortable(users, 'Nom d\'utilisateur', 'u.username') }}</th>
                <th class="col-1">{{ knp_pagination_sortable(users, 'Profil', 'r.prettyName') }}</th>
                <th class="col">{{ knp_pagination_sortable(users, 'Groupe politique', 'p.name') }}</th>
                <th class="col">Suppléant</th>
                <th class="col">Titulaire</th>
                <th class="active_column">{{ knp_pagination_sortable(users, '', 'u.isActive') }}</th>
                <th class="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ macros.emptyList(users, "Aucun utilisateur à afficher") }}

            {% for user in users %}
                <tr class="d-flex">
                    <td class="col-1">
                        {{ user.lastName }}
                    </td>
                    <td class="col-2">
                        {{ user.firstName }}
                    </td>
                    <td class="col-2">
                        {{ user.username | noSuffix }}
                    </td>
                    <td class="col">
                        {{ user.role ? user.role.prettyName : '' }}
                    </td>
                    <td class="col">
                        {{ user.party ?  ( user.party.name|length > 10 ? user.party.name|slice(0,20) ~ '...' : user.party.name)  : ''  }}
                    </td>
{#                    <td class="col">{% if user.associatedWith is not null and user.associatedWith.role.name == "Deputy" %}{{ user.associatedWith.firstName|first|upper }}. {{ user.associatedWith.lastName}} {% endif %}</td>#}
{#                    <td class="col"> {% if user.associatedWith is not null and user.role.name != "Actor"%} {{ user.associatedWith.firstName|first|upper }}. {{ user.associatedWith.lastName}} {% endif %}</td>#}

                    <td class="active_column">{{ user.isActive }}</td>
                    <td class="col-2 actionButton">
                        {% if (app.user != user) %}
                            {{ macros.btnReloadPasswordWithModal(
                                user.id,
                                'Réinitialisation du mot de passe de l\'utilisateur',
                                'user_reload_password',
                                'Voulez-vous vraiment activer la procédure de réinitialisation du mot de passe de l\'utilisateur ?',
                                users.currentPageNumber
                            ) }}
                        {% endif %}

                        {% if user.role.name == "Actor" and user.associatedWith == null %}
                            {% if countDeputiesAvalaible %}
                            <a href="{{ path('user_add_deputy', {"id" : user.id}) }}" class="btn btn-outline-primary borderless" title="Assigner un suppléant à cet élu"><i class="fa fa-user-plus"></i></a>
                                {% else %}
                                    <a href="#" class="btn btn-outline-secondary borderless" title="Aucun suppléant à assigner"><i class="fa fa-user-plus"></i></a>
                                    {% endif %}
                            {% endif %}

                        {% if user.role.name == "Actor" and user.associatedWith != null %}
                            <a href="{{ path('sitting_procuration_deputy_delete', {id : user.id}) }}" class="btn btn-outline-danger borderless" title="Retirer l'élu ou le suppléant"><i class="fa fa-user-slash"></i></a>
                        {% endif %}

                        {{ macros.editButton('user_edit', user.id) }}

                        {{ macros.button_open_modal_delete(
                            user.id,
                            'Suppression d\'utilisateur',
                            'user_delete',
                            "Voulez-vous vraiment supprimer cet utilisateur ?

                            Attention : la suppression d\'un utilisateur entraînera également la suppression de ses données présentes dans les éléments
                            passés auxquels il était lié (anciennes séances, rapports pdf, etc.)",
                            users.currentPageNumber
                        ) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(users) %}
