{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Utilisateurs' %}

{% block pageActions %}

<div class="row">
    <div class="col-7 pull-left">
    <a href="{{ path('user_add') }}" class="btn btn-primary"><span
                class="fa fa-plus-circle"></span>
        Ajouter</a>
    <a href="{{ path('csv_add_users') }}" class="btn btn-outline-primary"><span
                class="fa fa-plus-circle"></span>
        Ajouter via csv</a>

        <a href="{{ path('user_delete_batch') }}" class="btn btn-outline-primary"><span
                    class="fa fa-trash-alt"></span>
            Supprimer par lot</a>


        {{ macros.button_top_open_modal_post(
            'invalidation des mots de passe',
            'invalider tous les mots de passe',
            'invalidate_users_password',
            'fas fa-sync-alt',
            "invalidation mot de passe",
            '<span class="fas fa-exclamation-circle"></span> Invalider' )
        }}
    </div>

    <div class="col-5">
        {{ macros.searchForm(formSearch, searchTerm, 'user_index') }}
    </div>


</div>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped mt-3 bg-white">
        <thead>
        <tr class="d-flex">
            <th class="col-3">{{ knp_pagination_sortable(users, 'Nom', 'u.lastName') }}</th>
            <th class="col-2">{{ knp_pagination_sortable(users, 'Prénom', 'u.firstName') }}</th>
            <th class="col-2">{{ knp_pagination_sortable(users, 'Nom d\'utilisateur', 'u.username') }}</th>
            <th class="col-1">{{ knp_pagination_sortable(users, 'Profil', 'r.prettyName') }}</th>
            <th class="col-2">{{ knp_pagination_sortable(users, 'Groupe politique', 'p.name') }}</th>
            <th class="active_column">{{ knp_pagination_sortable(users, '', 'u.isActive') }}</th>
            <th class="col-2">Actions</th>
        </tr>
        </thead>
        <tbody>

        {{ macros.emptyList(users, "Aucun utilisateur à afficher") }}

        {% for user in users %}
            <tr class="d-flex">
                <td class="col-3">{{ user.lastName }} </td>
                <td class="col-2">{{ user.firstName }} </td>
                <td class="col-2">{{ user.username | noSuffix }} </td>
                <td class="col-1">{{ user.role ? user.role.prettyName : '' }} </td>
                <td class="col-2">{{ user.party ?  ( user.party.name|length > 10 ? user.party.name|slice(0,20) ~ '...' : user.party.name)  : ''  }} </td>
                <td class="active_column">{{ user.isActive }}</td>
                <td class="col-2 actionButton">
                    {{ macros.editButton('user_edit', user.id) }}
                    {{ macros.button_open_modal_delete(
                        user.id,
                        'Suppression d\'utilisateur',
                        'user_delete',
                        'Voulez-vous vraiment supprimer cet utilisateur ?',
                        users.currentPageNumber
                    ) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {# Modal invalidation password #}
    <div class="modal fade" id="invalidatePassword" tabindex="-1" aria-labelledby="invalidatePasswordLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir invalider les mots de passe de tous vos utilisateurs ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                    <a href="{{ path('invalidate_users_password') }}" class="btn btn-outline-primary">
                        <span class="fa fa-arrows-rotate"></span>
                        Oui
                    </a>
                </div>
            </div>
        </div>
    </div>


    {# Fin modal invalidation password #}
{% endblock %}


{% block pagePagination knp_pagination_render(users) %}

