{% extends 'dataview.html.twig' %}
{% import 'macro/_forms.html.twig' as macros %}

{% block pageTitle 'Utilisateurs' %}

{% block pageActions %}

<div class="row">
    <div class="col-6 pull-left">
    <a href="{{ path('user_add') }}" class="btn btn-primary"><span
                class="fa fa-plus-circle"></span>
        Ajouter</a>
    <a href="{{ path('csv_add_users') }}" class="btn btn-outline-primary"><span
                class="fa fa-plus-circle"></span>
        Ajouter via csv</a>
    </div>
    <div class="col-6">
        {{ macros.searchForm(formSearch, searchTerm) }}
    </div>


</div>
{% endblock %}

{% block pageTable %}
    <table class="table table-striped mt-3 bg-white">
        <thead>
        <tr class="d-flex">
            <th class="col-3">{{ knp_pagination_sortable(users, 'Nom', 'u.lastName') }}</th>
            <th class="col-3">{{ knp_pagination_sortable(users, 'Prénom', 'u.firstName') }}</th>
            <th class="col-3">{{ knp_pagination_sortable(users, 'Nom d\'utilisateur', 'u.username') }}</th>
            <th class="col-2">{{ knp_pagination_sortable(users, 'Role', 'r.prettyName') }}</th>
            <th class="col-1">Actions</th>
        </tr>
        </thead>
        <tbody>

        {{ macros.emptyList(users, "Aucun utilisateur à afficher") }}

        {% for user in users %}
            <tr class="d-flex">
                <td class="col-3">{{ user.lastName }} </td>
                <td class="col-3">{{ user.firstName }} </td>
                <td class="col-3">{{ user.username | noSuffix }} </td>
                <td class="col-2">{{ user.role ? user.role.prettyName : '' }} </td>
                <td class="col-1">
                    {{ macros.editButton('user_edit', user.id) }}
                    {{ macros.button_open_modal_delete(
                        user.id,
                        'Suppression d\'utilisateur',
                        'user_delete',
                        'Voulez vous vraiment supprimer cet utilisateur ?',
                        users.currentPageNumber
                    ) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagePagination knp_pagination_render(users) %}

