<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}idelibre{% endblock %}</title>

    {% for path in encore_entry_css_files('app') %}
        <link rel="stylesheet" type="text/css" href="{{ nginx }}{{path}}">
    {% endfor %}

</head>
<body>
<div class="container-fluid">

    <img src="{{ nginx }}{{ asset('assets/img/editor_logo.png') }}" style="width: 200px" alt="ls"
         class="float-right">

    <div>Généré le {{ date() | date('d/m/Y à H:i' , timezone) }}</div>

    <h3> {{ sitting.name }} - {{ sitting.date | date('d/m/Y à H:i', timezone) }}</h3>

    <table class=" table-striped mt4">
        <thead>
        <tr>
            <th style="width: 20%;">Prénom</th>
            <th style="width: 20%;">Nom</th>
            <th style="width: 10%;">Envoi</th>
            <th style="width: 10%;">Reception</th>
            <th style="width: 10%;">Présence</th>
            <th style="width: 20%;">Mandataire</th>
        </tr>
        </thead>
        <tbody>
        {% for convocation in convocations %}
            <tr>
                <td style="width: 20%;">{{ convocation.user.firstName }} </td>
                <td style="width: 20%;">{{ convocation.user.lastName }} </td>
                <td style="width: 10%;">{{ convocation.sentTimestamp ? convocation.sentTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                <td style="width: 10%;">{{ convocation.receivedTimestamp ? convocation.receivedTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                <td style="width: 10%;">{{ convocation.attendance ? convocation.attendance : '' }} </td>
                <td style="width: 20%;">{{ convocation.deputy ? convocation.deputy : '' }} </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>
</div>

</body>


</html>
