<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}idelibre{% endblock %}</title>

    {% for path in encore_entry_css_files('app') %}
        <link rel="stylesheet" type="text/css" href="{{ nginx }}{{path}}">
    {% endfor %}

</head>
<body>
<div class="container-fluid">

    <img src="{{ nginx }}{{ asset('assets/img/editor_logo.png') }}" style="width: 200px" alt="ls"
         class="float-end">

    <div>Généré le {{ date() | date('d/m/Y à H:i' , timezone) }}</div>

    <h3> {{ sitting.name }} - {{ sitting.date | date('d/m/Y à H:i', timezone) }}</h3>

    <div class="m-5">
        <h3 class="mb-3">Personnels administratifs </h3>
        <table class="table table-striped mt-4">
            <thead>
            <tr class="d-flex text-start">
                <th style="width: 10%;">Prénom</th>
                <th style="width: 10%;">Nom</th>
                <th style="width: 15%;">Envoi</th>
                <th style="width: 15%;">Reception</th>
                <th style="width: 10%;">Role</th>
            </tr>
            </thead>
            <tbody>
            {% for convocation in convocations %}
                {% if convocation.user.role.name == 'Employee' or convocation.user.role.name == 'Secretary' or convocation.user.role.name == 'Admin' %}
                    <tr class="d-flex text-start">
                        <td style="width: 10%;">{{ convocation.user.firstName }} </td>
                        <td style="width: 10%;">{{ convocation.user.lastName }} </td>
                        <td style="width: 15%;">{{ convocation.sentTimestamp ? convocation.sentTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                        <td style="width: 15%;">{{ convocation.receivedTimestamp ? convocation.receivedTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                        <td style="width: 10%;">{{ convocation.user.role.prettyName }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="m-5">
        <h3 class="mb-2">Elus</h3>

        <table class="table table-striped mt-4">
            <thead>
                <tr class="d-flex text-start">
                    <th style="width: 10%;">Prénom</th>
                    <th style="width: 10%;">Nom</th>
                    <th style="width: 10%;">Groupe politique</th>
                    <th style="width: 15%;">Envoi</th>
                    <th style="width: 15%;">Reception</th>
                    <th style="width: 10%;">Présence</th>
                    <th style="width: 30%;">Mandataire</th>
                </tr>
            </thead>
            <tbody>
            {% for convocation in convocations %}
                {% if convocation.user.role.name == 'Actor' or convocation.user.role.name == 'deputy' %}
                <tr class="d-flex text-start">
                    <td style="width: 10%;">{{ convocation.user.firstName }} </td>
                    <td style="width: 10%;">{{ convocation.user.lastName }} </td>
                    <td style="width: 10%;">{{ convocation.user.party ? convocation.user.party.name : '' }} </td>
                    <td style="width: 15%;">{{ convocation.sentTimestamp ? convocation.sentTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                    <td style="width: 15%;">{{ convocation.receivedTimestamp ? convocation.receivedTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                    <td style="width: 10%;">
                        {% if convocation.attendance == "present" %} Présent {% endif %}
                        {% if convocation.attendance == "absent" %} Absent {% endif %}
                        {% if convocation.attendance == "poa" %} A donné pouvoir par procuration{% endif %}
                        {% if convocation.attendance == "remote" %} Présent à distance {% endif %}
                        {% if convocation.attendance == "deputy" %} Remplacé par son suppléant {% endif %}
                        {% if convocation.attendance == "" %} Sans réponse {% endif %}
                    </td>
                    <td style="width: 30%;">
                        {% if convocation.deputy %} {{ convocation.deputy.firstname ~ ' ' ~ convocation.deputy.lastName }} {% endif %}
                        {% if convocation.mandator %} {{ convocation.mandator.firstname ~ ' ' ~ convocation.mandator.lastName }} {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="m-5">
        <h3 class="mb-3">Invités</h3>
        <table class="table table-striped mt-4">
            <thead>
            <tr class="d-flex text-start">
                <th style="width: 10%;">Prénom</th>
                <th style="width: 10%;">Nom</th>
                <th style="width: 15%;">Envoi</th>
                <th style="width: 15%;">Reception</th>
                <th style="width: 10%;">Role</th>
            </tr>
            </thead>
            <tbody>
            {% for convocation in convocations %}
                {% if convocation.user.role.name == 'Guest' %}
                    <tr class="d-flex text-start">
                        <td style="width: 10%;">{{ convocation.user.firstName }} </td>
                        <td style="width: 10%;">{{ convocation.user.lastName }} </td>
                        <td style="width: 15%;">{{ convocation.sentTimestamp ? convocation.sentTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                        <td style="width: 15%;">{{ convocation.receivedTimestamp ? convocation.receivedTimestamp.createdAt | date('d/m/Y H:i', timezone) : '' }} </td>
                        <td style="width: 10%;">{{ convocation.user.role.prettyName }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</body>


</html>
