{% extends 'form.html.twig' %}
{% import 'macro/_forms.html.twig' as macro %}

{% block pageTitle title %}

{% block pageActions %}
    {{ macro.backButton('configuration_index') }}
{% endblock %}

{% block pageForm %}
    {{ form_start(form) }}
    <div class="alert alert-info">
        <b>Attention</b> : la configuration s'appliquera à toutes les séances en cours.
    </div>

    {{ form_row(form.isSharedAnnotation) }}

    {{ form_row(form.sittingSuppressionDelay) }}

    {{ form_widget(form) }}
    <div class="float-end">
        {% block pageSaveReturn %}{{ macro.save('configuration_index') }}{% endblock %}
    </div>
    {{ form_end(form) }}
{% endblock %}
